Node-RED Examples/octal_board_flow_with_blynk.json
[
    {
        "id": "a64fb46023e29eb1",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b1ba0d10142b13a",
        "type": "iotextra-output",
        "z": "a64fb46023e29eb1",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "5",
        "x": 820,
        "y": 480,
        "wires": [
            [
                "d8f2c574e069a0d9"
            ]
        ]
    },
    {
        "id": "f027c9785a6bca21",
        "type": "iotextra-output",
        "z": "a64fb46023e29eb1",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "6",
        "x": 820,
        "y": 540,
        "wires": [
            [
                "2150688a2ef66f0c"
            ]
        ]
    },
    {
        "id": "5a799de0c4a88c36",
        "type": "iotextra-output",
        "z": "a64fb46023e29eb1",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "7",
        "x": 820,
        "y": 600,
        "wires": [
            [
                "0c306012e358156e"
            ]
        ]
    },
    {
        "id": "eab001f9f0ca90d6",
        "type": "iotextra-output",
        "z": "a64fb46023e29eb1",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "8",
        "x": 820,
        "y": 660,
        "wires": [
            [
                "9e1b1e554d9b3a8b"
            ]
        ]
    },
    {
        "id": "d8f2c574e069a0d9",
        "type": "ui_led",
        "z": "a64fb46023e29eb1",
        "order": 0,
        "group": "f2bd299015d08a35",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 480,
        "wires": []
    },
    {
        "id": "07228ef172cb2fa7",
        "type": "ui_switch",
        "z": "a64fb46023e29eb1",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f2bd299015d08a35",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 480,
        "wires": [
            [
                "5b1ba0d10142b13a"
            ]
        ]
    },
    {
        "id": "59f1241478038996",
        "type": "ui_switch",
        "z": "a64fb46023e29eb1",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a773fda9c49ac76c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 540,
        "wires": [
            [
                "f027c9785a6bca21"
            ]
        ]
    },
    {
        "id": "bed4ac91156532ba",
        "type": "ui_switch",
        "z": "a64fb46023e29eb1",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "3732a47ea74d8c8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 600,
        "wires": [
            [
                "5a799de0c4a88c36"
            ]
        ]
    },
    {
        "id": "0c306012e358156e",
        "type": "ui_led",
        "z": "a64fb46023e29eb1",
        "order": 0,
        "group": "3732a47ea74d8c8c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 600,
        "wires": []
    },
    {
        "id": "9e1b1e554d9b3a8b",
        "type": "ui_led",
        "z": "a64fb46023e29eb1",
        "order": 0,
        "group": "3a75be988a6ab11f",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "be74e174ec164fbe",
        "type": "ui_switch",
        "z": "a64fb46023e29eb1",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "3a75be988a6ab11f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 660,
        "wires": [
            [
                "eab001f9f0ca90d6"
            ]
        ]
    },
    {
        "id": "89f5c936c5416162",
        "type": "iotextra-input",
        "z": "a64fb46023e29eb1",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "1",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "95ec652deb8df145",
                "f5f0035583fdfbe4"
            ]
        ]
    },
    {
        "id": "95ec652deb8df145",
        "type": "ui_led",
        "z": "a64fb46023e29eb1",
        "order": 0,
        "group": "dd3b69461b0d9d69",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "a01c3d797e8d5ef3",
        "type": "iotextra-input",
        "z": "a64fb46023e29eb1",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "2",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "6beaa66dc837ac15",
                "7c8a10f9fd0904b1"
            ]
        ]
    },
    {
        "id": "6beaa66dc837ac15",
        "type": "ui_led",
        "z": "a64fb46023e29eb1",
        "order": 0,
        "group": "7c42022d25fc4ae6",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "fa2d38de80ee5c76",
        "type": "iotextra-input",
        "z": "a64fb46023e29eb1",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "3",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "2c60c0b0163db85c",
                "4a923bfa4533f397"
            ]
        ]
    },
    {
        "id": "2c60c0b0163db85c",
        "type": "ui_led",
        "z": "a64fb46023e29eb1",
        "order": 0,
        "group": "074ea377619c30ce",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "2c5471eb70bcd4b8",
        "type": "iotextra-input",
        "z": "a64fb46023e29eb1",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "4",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "32de0491f6645fdf",
                "b5e8cda162540974"
            ]
        ]
    },
    {
        "id": "32de0491f6645fdf",
        "type": "ui_led",
        "z": "a64fb46023e29eb1",
        "order": 0,
        "group": "43cad3be33080c9d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "3049ea5dea8a904a",
        "type": "blynk-iot-in-write",
        "z": "a64fb46023e29eb1",
        "name": "Digital Output 1",
        "pin": "0",
        "pin_all": 0,
        "client": "bb2c52f39f171e4b",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "5c6aca64572352ad"
            ]
        ]
    },
    {
        "id": "749979322c313eae",
        "type": "blynk-iot-in-write",
        "z": "a64fb46023e29eb1",
        "name": "Digital Output 2",
        "pin": "1",
        "pin_all": 0,
        "client": "bb2c52f39f171e4b",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "6ba3aa5725ded5f2"
            ]
        ]
    },
    {
        "id": "327c214d9061ac92",
        "type": "blynk-iot-in-write",
        "z": "a64fb46023e29eb1",
        "name": "Digital Output 3",
        "pin": "2",
        "pin_all": 0,
        "client": "bb2c52f39f171e4b",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "5b3f492fbfa7b23c"
            ]
        ]
    },
    {
        "id": "eed1cafea290592d",
        "type": "blynk-iot-in-write",
        "z": "a64fb46023e29eb1",
        "name": "Digital Output 4",
        "pin": "3",
        "pin_all": 0,
        "client": "bb2c52f39f171e4b",
        "x": 220,
        "y": 660,
        "wires": [
            [
                "579c24d113243e48"
            ]
        ]
    },
    {
        "id": "2150688a2ef66f0c",
        "type": "ui_led",
        "z": "a64fb46023e29eb1",
        "order": 0,
        "group": "a773fda9c49ac76c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "5c6aca64572352ad",
        "type": "change",
        "z": "a64fb46023e29eb1",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "07228ef172cb2fa7"
            ]
        ]
    },
    {
        "id": "6ba3aa5725ded5f2",
        "type": "change",
        "z": "a64fb46023e29eb1",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 540,
        "wires": [
            [
                "59f1241478038996"
            ]
        ]
    },
    {
        "id": "5b3f492fbfa7b23c",
        "type": "change",
        "z": "a64fb46023e29eb1",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 600,
        "wires": [
            [
                "bed4ac91156532ba"
            ]
        ]
    },
    {
        "id": "579c24d113243e48",
        "type": "change",
        "z": "a64fb46023e29eb1",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 660,
        "wires": [
            [
                "be74e174ec164fbe"
            ]
        ]
    },
    {
        "id": "f5f0035583fdfbe4",
        "type": "blynk-iot-out-write",
        "z": "a64fb46023e29eb1",
        "name": "Digital Input 1",
        "pin": "4",
        "pinmode": 0,
        "client": "bb2c52f39f171e4b",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "7c8a10f9fd0904b1",
        "type": "blynk-iot-out-write",
        "z": "a64fb46023e29eb1",
        "name": "Digital Input 2",
        "pin": "5",
        "pinmode": 0,
        "client": "bb2c52f39f171e4b",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "4a923bfa4533f397",
        "type": "blynk-iot-out-write",
        "z": "a64fb46023e29eb1",
        "name": "Digital Input 3",
        "pin": "6",
        "pinmode": 0,
        "client": "bb2c52f39f171e4b",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "b5e8cda162540974",
        "type": "blynk-iot-out-write",
        "z": "a64fb46023e29eb1",
        "name": "Digital Input 4",
        "pin": "7",
        "pinmode": 0,
        "client": "bb2c52f39f171e4b",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "690c80c21b3ed82b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "x",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f2bd299015d08a35",
        "type": "ui_group",
        "name": "Relay Out 1",
        "tab": "bea4c304ea3c5468",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a773fda9c49ac76c",
        "type": "ui_group",
        "name": "Relay Out 2",
        "tab": "bea4c304ea3c5468",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3732a47ea74d8c8c",
        "type": "ui_group",
        "name": "Relay Out 3",
        "tab": "bea4c304ea3c5468",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a75be988a6ab11f",
        "type": "ui_group",
        "name": "Relay Out 4",
        "tab": "bea4c304ea3c5468",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd3b69461b0d9d69",
        "type": "ui_group",
        "name": "Input Channel 1",
        "tab": "bea4c304ea3c5468",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c42022d25fc4ae6",
        "type": "ui_group",
        "name": "Input Channel 2",
        "tab": "bea4c304ea3c5468",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "074ea377619c30ce",
        "type": "ui_group",
        "name": "Input Channel 3",
        "tab": "bea4c304ea3c5468",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "43cad3be33080c9d",
        "type": "ui_group",
        "name": "Input Channel 4",
        "tab": "bea4c304ea3c5468",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb2c52f39f171e4b",
        "type": "blynk-iot-client",
        "name": "IoTextra Octal2",
        "path": "blynk.cloud",
        "key": "x",
        "tmpl": "x",
        "dbg_all": false,
        "dbg_log": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "enabled": true
    },
    {
        "id": "bea4c304ea3c5468",
        "type": "ui_tab",
        "name": "IoTextra Relay2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc62342d82be61ab",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-iotextra": "1.1.0",
            "node-red-contrib-ui-led": "0.4.11",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-blynk-iot": "1.0.1"
        }
    }
]
