Node-RED Examples/ssr_or_mosfet_board_flow_with_blynk.json
[
    {
        "id": "00d566d574eae471",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2e345deaf0351aa",
        "type": "iotextra-output",
        "z": "00d566d574eae471",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "1",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "c835c74585d310de"
            ]
        ]
    },
    {
        "id": "0b7fc7fe6d7d89ea",
        "type": "iotextra-output",
        "z": "00d566d574eae471",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "2",
        "x": 780,
        "y": 240,
        "wires": [
            [
                "763a5c01d361c34b"
            ]
        ]
    },
    {
        "id": "2e99716a367999f2",
        "type": "iotextra-output",
        "z": "00d566d574eae471",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "3",
        "x": 780,
        "y": 300,
        "wires": [
            [
                "3511f7c2546a49dd"
            ]
        ]
    },
    {
        "id": "3ab3bcf8a411772a",
        "type": "iotextra-output",
        "z": "00d566d574eae471",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "4",
        "x": 780,
        "y": 360,
        "wires": [
            [
                "28561374fb3661f7"
            ]
        ]
    },
    {
        "id": "c835c74585d310de",
        "type": "ui_led",
        "z": "00d566d574eae471",
        "order": 0,
        "group": "c11f51a2c8c604c3",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "b3e9db3c16e6c736",
        "type": "ui_switch",
        "z": "00d566d574eae471",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "c11f51a2c8c604c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "f2e345deaf0351aa"
            ]
        ]
    },
    {
        "id": "763a5c01d361c34b",
        "type": "ui_led",
        "z": "00d566d574eae471",
        "order": 0,
        "group": "caeecfe2eeae3e2e",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "68928e9d16f448aa",
        "type": "ui_switch",
        "z": "00d566d574eae471",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "caeecfe2eeae3e2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "0b7fc7fe6d7d89ea"
            ]
        ]
    },
    {
        "id": "4cb070e361b180a9",
        "type": "ui_switch",
        "z": "00d566d574eae471",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "c4d7282568f9c4a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "2e99716a367999f2"
            ]
        ]
    },
    {
        "id": "3511f7c2546a49dd",
        "type": "ui_led",
        "z": "00d566d574eae471",
        "order": 0,
        "group": "c4d7282568f9c4a7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "28561374fb3661f7",
        "type": "ui_led",
        "z": "00d566d574eae471",
        "order": 0,
        "group": "2d5bf652910a6287",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "e08376dfc2c3a361",
        "type": "ui_switch",
        "z": "00d566d574eae471",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "2d5bf652910a6287",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 360,
        "wires": [
            [
                "3ab3bcf8a411772a"
            ]
        ]
    },
    {
        "id": "9ec942242c20c07d",
        "type": "iotextra-output",
        "z": "00d566d574eae471",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "5",
        "x": 780,
        "y": 440,
        "wires": [
            [
                "35081c6ff841dc43"
            ]
        ]
    },
    {
        "id": "5145c0df40d87ce2",
        "type": "iotextra-output",
        "z": "00d566d574eae471",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "6",
        "x": 780,
        "y": 500,
        "wires": [
            [
                "7524f501405657e5"
            ]
        ]
    },
    {
        "id": "161064680c308724",
        "type": "iotextra-output",
        "z": "00d566d574eae471",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "7",
        "x": 780,
        "y": 560,
        "wires": [
            [
                "7c2ec56b27dfbe19"
            ]
        ]
    },
    {
        "id": "9dd9be8da67f2556",
        "type": "iotextra-output",
        "z": "00d566d574eae471",
        "name": "",
        "broker": "690c80c21b3ed82b",
        "baseTopic": "iotextra/device_1",
        "channel": "8",
        "x": 780,
        "y": 620,
        "wires": [
            [
                "f60761f0a1c820e3"
            ]
        ]
    },
    {
        "id": "35081c6ff841dc43",
        "type": "ui_led",
        "z": "00d566d574eae471",
        "order": 0,
        "group": "06956921301a33cc",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "8d922183c7cb3e85",
        "type": "ui_switch",
        "z": "00d566d574eae471",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "06956921301a33cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 440,
        "wires": [
            [
                "9ec942242c20c07d"
            ]
        ]
    },
    {
        "id": "7524f501405657e5",
        "type": "ui_led",
        "z": "00d566d574eae471",
        "order": 0,
        "group": "10be5ed0b8b8b6df",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "f61f70ec1f27e0df",
        "type": "ui_switch",
        "z": "00d566d574eae471",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "10be5ed0b8b8b6df",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 500,
        "wires": [
            [
                "5145c0df40d87ce2"
            ]
        ]
    },
    {
        "id": "ffacd2da97980dbb",
        "type": "ui_switch",
        "z": "00d566d574eae471",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "248fdbf6749f8070",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 560,
        "wires": [
            [
                "161064680c308724"
            ]
        ]
    },
    {
        "id": "7c2ec56b27dfbe19",
        "type": "ui_led",
        "z": "00d566d574eae471",
        "order": 0,
        "group": "248fdbf6749f8070",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 560,
        "wires": []
    },
    {
        "id": "f60761f0a1c820e3",
        "type": "ui_led",
        "z": "00d566d574eae471",
        "order": 0,
        "group": "bcc9c691d40b422d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 620,
        "wires": []
    },
    {
        "id": "9dcd162e66d274f3",
        "type": "ui_switch",
        "z": "00d566d574eae471",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "bcc9c691d40b422d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 620,
        "wires": [
            [
                "9dd9be8da67f2556"
            ]
        ]
    },
    {
        "id": "927623a8c7ea82ee",
        "type": "blynk-iot-in-write",
        "z": "00d566d574eae471",
        "name": "Digital Output 1",
        "pin": "0",
        "pin_all": 0,
        "client": "77d8fef2679241c7",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "ccef5bf6a07d5931"
            ]
        ]
    },
    {
        "id": "a7b6b4e49d599dc0",
        "type": "blynk-iot-in-write",
        "z": "00d566d574eae471",
        "name": "Digital Output 2",
        "pin": "1",
        "pin_all": 0,
        "client": "77d8fef2679241c7",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "9f15ec578ae395cb"
            ]
        ]
    },
    {
        "id": "67d8ed61d68c70f0",
        "type": "blynk-iot-in-write",
        "z": "00d566d574eae471",
        "name": "Digital Output 3",
        "pin": "2",
        "pin_all": 0,
        "client": "77d8fef2679241c7",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "55df13b67abee7af"
            ]
        ]
    },
    {
        "id": "de9e3142e243d5fc",
        "type": "blynk-iot-in-write",
        "z": "00d566d574eae471",
        "name": "Digital Output 4",
        "pin": "3",
        "pin_all": 0,
        "client": "77d8fef2679241c7",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "aefbebf37a1c7fc0"
            ]
        ]
    },
    {
        "id": "ccef5bf6a07d5931",
        "type": "change",
        "z": "00d566d574eae471",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "b3e9db3c16e6c736"
            ]
        ]
    },
    {
        "id": "9f15ec578ae395cb",
        "type": "change",
        "z": "00d566d574eae471",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "68928e9d16f448aa"
            ]
        ]
    },
    {
        "id": "55df13b67abee7af",
        "type": "change",
        "z": "00d566d574eae471",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "4cb070e361b180a9"
            ]
        ]
    },
    {
        "id": "aefbebf37a1c7fc0",
        "type": "change",
        "z": "00d566d574eae471",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "e08376dfc2c3a361"
            ]
        ]
    },
    {
        "id": "f6b0551ed263e20d",
        "type": "blynk-iot-in-write",
        "z": "00d566d574eae471",
        "name": "Digital Output 5",
        "pin": "4",
        "pin_all": 0,
        "client": "77d8fef2679241c7",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "cd50e8ba41f9c3e2"
            ]
        ]
    },
    {
        "id": "a3a2dcd6e97b723a",
        "type": "blynk-iot-in-write",
        "z": "00d566d574eae471",
        "name": "Digital Output 6",
        "pin": "5",
        "pin_all": 0,
        "client": "77d8fef2679241c7",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "324c20659092f93a"
            ]
        ]
    },
    {
        "id": "1723f12b2b39b8d0",
        "type": "blynk-iot-in-write",
        "z": "00d566d574eae471",
        "name": "Digital Output 7",
        "pin": "6",
        "pin_all": 0,
        "client": "77d8fef2679241c7",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "1bb69977e02632db"
            ]
        ]
    },
    {
        "id": "1e89883ebea4b2b4",
        "type": "blynk-iot-in-write",
        "z": "00d566d574eae471",
        "name": "Digital Output 8",
        "pin": "7",
        "pin_all": 0,
        "client": "77d8fef2679241c7",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "2a7431e4c5340b2d"
            ]
        ]
    },
    {
        "id": "cd50e8ba41f9c3e2",
        "type": "change",
        "z": "00d566d574eae471",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 440,
        "wires": [
            [
                "8d922183c7cb3e85"
            ]
        ]
    },
    {
        "id": "324c20659092f93a",
        "type": "change",
        "z": "00d566d574eae471",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "f61f70ec1f27e0df"
            ]
        ]
    },
    {
        "id": "1bb69977e02632db",
        "type": "change",
        "z": "00d566d574eae471",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "ffacd2da97980dbb"
            ]
        ]
    },
    {
        "id": "2a7431e4c5340b2d",
        "type": "change",
        "z": "00d566d574eae471",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "9dcd162e66d274f3"
            ]
        ]
    },
    {
        "id": "690c80c21b3ed82b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "YOUR_MQTT_BROKER_HOST",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c11f51a2c8c604c3",
        "type": "ui_group",
        "name": "Relay Out 1",
        "tab": "8a457c098b44f9f3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "caeecfe2eeae3e2e",
        "type": "ui_group",
        "name": "Relay Out 2",
        "tab": "8a457c098b44f9f3",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4d7282568f9c4a7",
        "type": "ui_group",
        "name": "Relay Out 3",
        "tab": "8a457c098b44f9f3",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d5bf652910a6287",
        "type": "ui_group",
        "name": "Relay Out 4",
        "tab": "8a457c098b44f9f3",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "06956921301a33cc",
        "type": "ui_group",
        "name": "Relay Out 5",
        "tab": "8a457c098b44f9f3",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "10be5ed0b8b8b6df",
        "type": "ui_group",
        "name": "Relay Out 6",
        "tab": "8a457c098b44f9f3",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "248fdbf6749f8070",
        "type": "ui_group",
        "name": "Relay Out 7",
        "tab": "8a457c098b44f9f3",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bcc9c691d40b422d",
        "type": "ui_group",
        "name": "Relay Out 8",
        "tab": "8a457c098b44f9f3",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "77d8fef2679241c7",
        "type": "blynk-iot-client",
        "name": "IoTextra Relay2",
        "path": "blynk.cloud",
        "key": "YOUR_BLYNK_AUTH_TOKEN",
        "tmpl": "YOUR_BLYNK_TEMPLATE_ID",
        "dbg_all": false,
        "dbg_log": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "enabled": true
    },
    {
        "id": "8a457c098b44f9f3",
        "type": "ui_tab",
        "name": "IoTextra Relay2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ba42d870481696f1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-iotextra": "1.2.0",
            "node-red-contrib-ui-led": "0.4.11",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-blynk-iot": "1.0.1"
        }
    }
]